doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="/css/app.css")
        title.
            The Great Catch
    body
        div#app
        script(src='/js/app.min.js', type='application/javascript')
